<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>彭氏管理系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body>
 <div id="login_frame">
    <p id="image_logo"><img th:src="@{/images/551.jpg}"></p>
    <form th:action="@{/login}" method="post">
        <p><label class="label_input">用户名</label><input type="text" id="name" class="text_field"/></p>
        <p><label class="label_input">密码</label><input type="text" id="passwd" class="text_field"/></p>
        <div id="login_control">
            <input type="button" id="btn_login" value="登录">
            <input type="button" id="btn_register" value="注册">
        </div>

    </form>
</div>
</body>
</html>